@import url('https://cdn.syncfusion.com/ej2/material.css');
/* Sidebar Styles */
.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  z-index: 10;
  top: 0;
  margin-top: 5%;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Alert Styles */
.alert{
    text-align: center;
    border: 2px solid rgba(35, 34, 34, 0.488);
    font-size: 1.8rem;
    transition: 0.5;
    color: black;
    padding: 10px;
}

.alert--error{
    background-color: rgb(245, 29, 29);
}
.alert--success{
    background-color: rgb(5, 196, 28);
}

/* Custom Styles */

button.link-btn{
    background-color: white;
    border: none;
    text-decoration: underline;
    color: rgb(0, 72, 255);
}
a.nol{
    text-decoration: none;
    color: black;
}
.left-col{
  width: 20%;
  margin-left: 0%;
  margin-right: 80%;
  float: left;
}
.right-col{
  width: 80%;
  float: right;
  margin-top: 20%;
  top: 0;
  position: absolute;
  margin-left: 20%;
  margin-right: 0%;
}
