@import url('https://cdn.syncfusion.com/ej2/material.css');



/* Custom Styles */
.nol{
    color: rgb(24, 24, 24);
    text-decoration: none;
}
.nol:hover{
    color: rgb(45, 43, 43);
    text-decoration: none;
}
.post-img{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}